//dark theme colors
$mulberry-dark: #4f0341;
$black-plum-dark: #320237;
$black-cherry-dark: #4f032b;
$deep-indigo-dark: #21034f;
$midnight-violet-dark: #170237;

$background-dark: #120016;
$text-dark: #f9f1fa;
$text-muted-dark: #cdbfd0;

$surface-dark: #1d0922;
$surface-raised-dark: #2a0c30;
$border-dark: #48204d;


//light theme colors
$mulberry-light: #f8e7f4;
$black-plum-light: #f1e9f5;
$black-cherry-light: #fae7ed;
$deep-indigo-light: #eae9f8;
$midnight-violet-light: #eeeaf6;

$background-light: #fffbfe;
$text-light: #210d20;
$text-muted-light: #a79ea7;

$surface-light: #f0e6f0;
$surface-raised-light: #e0d6e0;
$border-light: #c0b0c0;
